body {
  background-color: white;
  width: 100%;
  margin: 0;
}

#head {
  margin: 0;
  background-color: steelBlue;
  text-align: left;
  color: white;
  text-shadow: 1px 3px 1px #333;

}

#head h1 {
  display: inline;
  position: absolute;
  top: 20px;
}

#head img {
  width: 100px;
}

.newBeaver {
  display: ;
  margin-left: 20px;
}

.newBeaver input {
  display: block;
  margin-bottom: 5px;
}

.newBeaver button {

}

.container {
  text-align: center;
  text-shadow: 1px 2px 1px grey;
  color: #333;
  width: 90%;
  overflow: auto;
  margin: 20px auto;
  padding: 10px;
  display: block;
}

.container li {
  text-align: left;
  float: left;
  list-style: none;
  width: 80%;
  margin: 3%;
  padding: 0;
  margin-bottom: 0.5em;
  border: 5px solid steelBlue;
  border-radius: 3px 3px 0 0;
}

/* useless so far

/*.container input {
  margin: 0.3em 0 0 0;
  border: none;
  height: 30px;
  background-color: #666;
  color: white;
  font-weight: 700;
  font-size: 1.2em;
}*/

li p {
  color: black;
  text-shadow: none;
  text-align: center;
  padding: 0 2px;
  margin: 10px;
  overflow: scroll;

}

.name {
  font-size: 3em;
}

.name, .sex {
  text-transform: uppercase;
}

.age, .sex, .location {
  font-size: 1.2em;
}

.name, .age, .sex, .location {
  display: block;
  margin-top: 5px;
}

li img {
  margin: 5px;
  width: 30%;
  border: 1px solid steelBlue;
  border-radius: 50%;
}

hr {
  clear: both;
}

#untrack, .spotted, .tracking, .noTracking, .profileButton {
  font-size: 16px;
  display: inline;
  border: none;
  width: 6.5em;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 2px;
  outline: none;
  box-shadow: 1px 1px 2px #000;

}

#untrack:active, .spotted:active, .tracking:active, .noTracking:active, .profileButton:active {
  box-shadow: 0px 0px 0px #000;
}

#untrack {
  width: 10em;
  background: #ff4040;
}

.spotted, .tracking, .profileButton {
  background: steelBlue;
}

.noTracking {
  background: #ff8080;

}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
