body {
  background-color: white;
  width: 100%;
  margin: 0;
}

#head {
  margin: 0;
  background-color: steelBlue;
  text-align: left;
  color: white;
  text-shadow: 1px 3px 1px #333;

}

#head h1 {
  display: inline;
  position: absolute;
  top: 20px;
}

#head img {
  width: 100px;
}

.container .profile, h2{
  text-align: center;
  text-shadow: 1px 2px 1px grey;
  color: #333;
  width: 90%;
  overflow: auto;
  margin: 20px auto;
  padding: 10px;
  display: block;
}

.container .profile li {
  text-align: left;
  float: left;
  list-style: none;
  width: 80%;
  margin: 3%;
  padding: 0;
  margin-bottom: 0.5em;
  border: 5px solid steelBlue;
  border-radius: 3px 3px 0 0;
}

/* useless so far

/*.container input {
  margin: 0.3em 0 0 0;
  border: none;
  height: 30px;
  background-color: #666;
  color: white;
  font-weight: 700;
  font-size: 1.2em;
}*/

.profile li p {
  color: black;
  text-shadow: none;
  text-align: center;
  padding: 0 2px;
  margin: 10px;

}

.profile .name {
  font-size: 3em;
}

.profile .name, .profile .sex {
  text-transform: uppercase;
}

.profile .age, .profile .sex, .profile .location {
  font-size: 1.2em;
}

.profile .name, .profile .age, .profile .sex, .profile .location {
  display: block;
  margin-top: 5px;
}

.profile li img {
  margin: 5px;
  width: 30%;
  border: 1px solid steelBlue;
  border-radius: 50%;
}

hr {
  clear: both;
}

.modifyProfile {
  font-size: 16px;
  display: inline;
  border: none;
  width: 6.5em;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 2px;
  outline: none;
  box-shadow: 1px 1px 2px #000;

}

.modifyProfile:active {
  box-shadow: 0px 0px 0px #000;
}

.modifyProfile {
  background: steelBlue;
}
/* MESSAGES */
ul.messages {
  display: inline;
  position: absolute;
  left: auto;
  right: 0;
  padding: 5px;
}

.messages h3 {
  color: white;
  position: top;
  padding: 0 5px;
}

li.messages {
  background: purple;
  width: 250px;
  height: 280px;
  margin: 10px;
  border: 1px solid black;
  display: inline-block;


}

li .sendMessage {
  height: 40px;
  width: 95%;
  margin: 2px;
}

.text {
  background: red;
  height: 150px;
  border: 1px solid black;
  overflow: auto;
}

/* RELATIONS */



a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
