body {
  background-color: white;
  width: 100%;
  margin: 0;
}

#head {
  margin: 0;
  background-color: steelBlue;
  text-align: left;
  color: white;
  text-shadow: 1px 3px 1px #333;

}

#head h1 {
  display: inline;
  position: absolute;
  top: 20px;
}

#head img {
  width: 100px;
}

.container {
  display: block;
  text-align: center;
}

.container .profile, .container .friends {
  text-align: center;
  text-shadow: 1px 2px 1px grey;
  color: #333;
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  display: inline;
}

.container .friends {
  width: 20%;
}

.container .profile li {
  text-align: left;
  float: left;
  list-style: none;
  width: 60%;
  margin: 3%;
  padding: 0;
  margin-bottom: 0.5em;
  border: 5px solid steelBlue;
  border-radius: 3px 3px 0 0;
}


.profile li p {
  color: black;
  text-shadow: none;
  text-align: center;
  padding: 0 2px;
  margin: 10px;

}

.profile .name {
  font-size: 3em;
}

.profile .name, .profile .sex {
  text-transform: uppercase;
}

.profile .age, .profile .sex, .profile .location {
  font-size: 1.2em;
}

.profile .name, .profile .age, .profile .sex, .profile .location {
  display: block;
  margin-top: 5px;
}

.profile li img {
  margin: 5px;
  width: 20%;
  border: 1px solid steelBlue;
  border-radius: 50%;
}

hr {
  clear: both;
}

#goHome, .modifyProfile, .acceptRequest{
  font-size: 16px;
  background: steelBlue;
  display: inline;
  border: none;
  width: auto;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 2px;
  outline: none;
  box-shadow: 1px 1px 2px #000;

}

#goHome:active, .modifyProfile:active, .acceptRequest:active {
  box-shadow: 0px 0px 0px #000;
}

.acceptRequest {
  background: #ff8080
}

/* CHAT */
ul.messages {
  display: inline;
  position: absolute;
  left: auto;
  right: 0;
  padding: 5px;
}

.messages h3 {
  color: white;
  position: top;
  padding: 0 5px;
}

li.messages {
  background: steelBlue;
  width: 250px;
  height: 280px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  box-shadow: 3px 7px 10px grey;
  display: inline-block;


}

li .sendMessage {
  height: 40px;
  width: 95%;
  margin: 2px;
}

.text {
  background: white;
  height: 150px;
  padding-left: 5px;
  border: 1px solid black;
  overflow: auto;
}

/* RELATIONS */

ul.relations, ul.friends, h2{
  text-shadow: 1px 2px 1px grey;
  color: #333;
  width: 50%;
  display: block;
  margin: 20px auto;
  padding: 10px;

}

h2 {
  width: auto;
}

ul.relations li, ul.friends li {
  text-shadow: none;
  text-align: center;
  float: left;
  list-style: none;
  width: 300px;
  height: 300px;
  margin: 3%;
  margin-bottom: 0.5em;
  border: 5px solid steelBlue;
  border-radius: 3px 3px 0 0;
}

ul.relations {
  float: none;
  display: block;
}

.relations li p, .friends li p {
  color: black;
  text-shadow: none;
  text-align: left;
  padding: 0 2px;
  margin: 10px;

}

.relations .name, .friend .name {
  font-size: 1.5em;
}

.relations .name, .relations .sex, .friend .name, .friend .sex {
  text-transform: uppercase;
}

.relations .age, .relations .sex, .relations .location, .friend .age, .friend .sex, .friend .location {
  font-size: 1.2em;
}

.relations .name, .relations .age, .relations .sex, .relations .location, .friend .name, .friend .age, .friend .sex, .friend .location {
  display: block;
  margin-top: 5px;
}

.relations li img, .friends li.friend img {
  margin: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid steelBlue;
  border-radius: 50%;

}



.request, .message, .unfriend, .profileButton{
  background: steelBlue;
  font-size: 16px;
  display: inline;
  border: none;
  width: 8.5em;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 2px;
  outline: none;
  box-shadow: 1px 1px 2px #000;

}

.unfriend {
  font-size: 16px;
  background: #ff8080
}

.request:active, .message:active, .unfriend:active, .profileButton:active {
  box-shadow: 0px 0px 0px #000;
}

/* --- */
a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
